body{
	background-color: red;
	color: #fff;
}

.nav{
	position: fixed;
	width: 100%;
	background-color: cyan;
	color: green;
	padding: 10px 20px;
}

.nav .d-flex{
	display: flex;
}

.nav ul li{
	display: inline-block;
	margin: 0px 20px;
}

h1{
	font-size: 10vw;
	color: #fff;
	padding: 120px 30px;
}

footer{
	background-color: black;
	padding: 30px 30px;
}